<ion-view view-title="Registration">
  <ion-content class="padding">
   <label class="item item-input">
              <input type="text" placeholder="User Name">
    </label>
    <label class="item item-input">
              <input type="password" placeholder="Password">
    </label>
       <label class="item item-input">
              <input type="password" placeholder="Password">
    </label>
      <label class="item item-input">
              <input type="text" placeholder="Mobile Number">
    </label>
      
     
      <Button class="button button-balanced" ng-click="signin()">Sign Up</Button>
  </ion-content>
</ion-view>
